// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
/* @import '~bootstrap/scss/bootstrap'; */
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

*:focus {
    outline: none;
}

.btn.btn-square {
  border-radius: 0;
}

body {
  background-color: #222222;
}

#app {
	overflow: hidden;
}

.nav {
	&bar {
		padding: 0;
	}
	
	&-item {
		border-right: 2px solid #2a2a2e;
	
		.nav-link {
			padding: 1rem;
			color: #979a9d;
		
			p {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	
	&-item.active {
		.nav-link {
			color: #fff;
			box-shadow: 0px -5px 0px -2px white inset;
		}
	}
}

.slider-content {
	flex: 1;
}

.input-group .input-group-text, .input-group .input-group-append, .btn{
	border-radius: 0;
}

.clickable {
	cursor: pointer;
}

.btn.btn-info {
	color: white;
}