// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
/* @import '~bootstrap/scss/bootstrap'; */
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

*:focus {
    outline: none;
}

.btn.btn-square {
  border-radius: 0;
}

body {
  background-color: #222222;
}

#app {
	overflow: hidden;
}

$media-tbl-list:
	"md" "above" 75px 0vw,
	"md" "below" 50px 0vw;

@each $media-type, $resp-direct, $row-height, $but-width in $media-tbl-list {
  
}

@mixin upload-tbl($row-height, $btn-width) {
	.upload-tbl {
		background: white;
		
		tr:nth-of-type(2n+1) {
			background-color: rgba(0, 0, 0, 0.035);
		}
		
		tr:hover {
  			background-color: rgba(0, 0, 0, 0.045);
		}
	
		tr {
			th, td {
				text-align: center;
			}
		
			td:nth-child(3) {
				padding: 0;
				width: $btn-width;
			
				* {
					height: #{$row-height};
				}
				
				button {
					outline: none;
					background: none;
					border: none;
				}
				
				.progress {
					border-radius: 0;
				}
			}
		}
	}	
}

@mixin files-tbl($row-height, $btn-width) {
	.files-tbl {
		background: white;
		
		tr:nth-of-type(2n+1) {
			background-color: rgba(0, 0, 0, 0.035);
		}
		
		tr:hover {
/* 			color: #1c63aa; */
  			background-color: rgba(0, 0, 0, 0.045);
		}
	
		tr {
			th:nth-child(-n+3), td:nth-child(-n+3) {
				text-align: center;
			}
		/*
			td {
				position:relative;
				* {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			*/
		
			td:nth-child(1) {
				text-align: left;
				padding: 0;
				width: #{$row-height};
				
				img {
					height: #{$row-height};
				}
			}
	
			td:nth-child(4) {
				padding: 0;
				width: $btn-width;
			
				.fu-butt {
					background: none;
					height: #{$row-height};
				}
			}
		}
	}	
}

@include respond-below(md) {
	@include files-tbl(77px, 25vw);
	@include upload-tbl(77px, 25vw);
	
}

@include respond-above(md) {
	@include files-tbl(77px, 10vw);
	@include upload-tbl(77px, 10vw);
}



.nav {
	&bar {
		padding: 0;
	}
	
	&-item {
		border-right: 2px solid #2a2a2e;
	
		.nav-link {
			padding: 1rem;
			color: #979a9d;
		
			p {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	
	&-item.active {
		.nav-link {
			color: #fff;
			box-shadow: 0px -5px 0px -2px white inset;
		}
	}
}

.slider-content {
	flex: 1;
}

.input-group .input-group-text, .input-group .input-group-append, .btn{
	border-radius: 0;
}

.clickable {
	cursor: pointer;
}

.btn.btn-info {
	color: white;
}